body {
  background-color: #C0DEFF;
}

img {
  height: 200px;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 8%;
}

h1, h3 {
  color: #2B3467;
}
